<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ear Landmark Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="importmap">
        {
                  "imports": {
                      "three": "https://cdn.jsdelivr.net/npm/three@0.161/build/three.module.js",
            "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161/examples/jsm/",
            "lil-gui": "https://cdn.jsdelivr.net/npm/lil-gui@0.19/+esm"
          }
              }
      </script>
</head>
<body>
    <h1>Ear Landmark Tracker</h1>
    <img src="{{ url_for('video_feed') }}" width="100%" />
    <script src= "static\js\three.module.min.js" type= "module"></script>
    <script src="static\js\GLTFLoader.js"  type= "module"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type= "module"></script>
</body>
</html>
